<button class="btn btn-secondary" (click)="gotolist()">employee list</button>
<br>
<br>
<br>

<h3 style="text-align: center;" >Update Employee</h3>

<form [formGroup]="this.apiService.updateForm" (ngSubmit)="onSubmit()">
    
        
        <div class="form-group ">
            <label>First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group ">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>


    <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="emailId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
        <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
            <div *ngIf="f.emailId.errors.required">Email is required</div>
            <div *ngIf="f.emailId.errors.email">Email must be a valid email address</div>
        </div>
    </div>

    
   
    <div class="text-center">
      

        <button  class="btn btn-primary mr-1" click="update()" >save</button>
        
    </div>
</form>